html {
  padding:0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

 @font-face {
    font-family: "Khula";
    src: url(https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&display=swap) format("truetype");
}

p.customfont {
    font-family: "Khula";
}

body {
    font-family: "Khula";
}

/* ABOVE THE FOLD */
nav {
    float: right;
    font-family: "Khula", Bold;
    font-size: 20px;
}

.item1{ grid-area: nav;}
.item2 { grid-area: name;}
.item3 {
    grid-area: bio;
    font-size: 22px;
    letter-spacing: 3.3px;
    line-height: 45px;
    text-align: right; }


#aboveTheFold {
  background-image: url("../img/linesWithSelfie.svg");

}
#Selfie {
    display: none;
}
#landingPage {
  display: grid;
  grid-template-areas:
    'nav nav nav nav nav nav'
    'name name name name bio bio'
    'name name name name  bio bio';
  grid-gap: 15px;
  padding: 10px;
  background-color: transparent;
  position: relative;
  padding-right: 15%;
  padding-left: 5%;
  padding-top: 10px;

}
#Arrow {
    display: block;
    margin: auto;
    align: center;
    margin-top: 25%;

}

/* MY WORK SECTION */
.myWork {
    background-image: none;
    display:flex;
    flex-direction: column;
}
#verticalLine {
    position: fixed;
    align: left;
    margin: auto;
    padding-left: 5%;
}

#careerTitle{
    display: block;
    margin: auto;
    align: center;
    margin-top: 20%;
}

.title1 { /* titles of each work section */
    grid-area: title;
    display: block;
    margin: auto;
    align: center;
    font-family: "Khula";
    font-weight: Bold;
    font-size: 40px;
    letter-spacing: 8%;
    }

.text1{ /* descriptions of each work section */
    grid-area: text;
    font-size: 20px;
    width: 80%;
    padding-left: 10%;

    }
.pic1 {
    grid-area: pic;
    padding-right: 10%;}


.career-grid { /*grid for each individual case study */
    display: grid;
    width: 80%;
    position: relative;
    align: center;
    margin: auto;
    grid-template-areas:
        'title title title title'
        'text text pic pic'
        'text text pic pic';
    grid-gap: 40px;
    padding: 10px;
    background-color: transparent;
    padding-top: 5%;

}

.mobileCards{
    display:none;
}

/* SKILLS & EDUCATION SECTION*/

#skillsTitle{
     display: block;
    margin: auto;
    align: center;
    margin-top: 10%;

}

.skill1 { grid-area: skill1;}
.skill2 { grid-area: skill2;}
.skill3 { grid-area: skill3;}
.skill4 { grid-area: skill4;}
.tools { grid-area: tools;
padding-top: 40px;}

.skills-grid{
    display: grid;
    width: 80%;
    position: relative;
    align: center;
    margin: auto;
    grid-template-areas:
    'skill1 skill2'
    'skill3 skill4'
    'tools tools';
    grid-gap: 20px;
    padding: 10px;
    margin-top: 20px;

}

ul{
 margin:0;
}


@media only screen and (max-width: 600px) {
    #aboveTheFold {
    background-image: none;
    }

    #hamburger {
        max-width: 30px;
    }


    #namePic {
    display: block;
    max-width: 80%;
    height: auto;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    }

    .item3 { /*bio text on landing page*/
            position: relative;
            display: block;
            text-align: justify;
            margin-left:auto;
            margin-right: auto;
            margin-top: 20px;
            width: 100%;
            grid-area: bio;
            font-size: 100%;
            letter-spacing: auto;
            line-height: auto;
            z-index: 1;
            }

    #Arrow {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        position: relative;
        z-index: 1;
    }
#Selfie {
    grid-area: selfie;
    display: block;
    align: center;
    justify: center;
    position: relative;
    z-index: 2;
    width: 75%;

}
.item1 { grid-area: nav;}
.item2 {grid-area: name;}
.item3 {grid-area:bio;
padding-top: 25%;
align: center;}
#landingPage {
    display: grid;
    grid-template-areas:
    'nav nav'
    'selfie name'
    'bio bio';
    border: 0px;
    position: relative;
    flex-direction: column;
    max-width: 100%;
    grid-gap: 5px;
    padding-left: 5%;
    padding-top: 10px;
    padding-right: 5px;

    }

    .myWork {
        background-image: none;
        display:flex;
        flex-direction: column;
        z-index:1;
    }

    #verticalLine {
        position: fixed;
        z-index: -1;
    }
    .career-grid{
        display: flex;
        flex-direction: column;
        position: relative;
        align: center;
        margin: auto;
        padding: 10px;
        background-color:transparent;
        width: 100%;

    }


    .text1 {
        display: none;
    }
    .title1 {
        display:none;
        font-size: 30px;
    }


    .pic1 {
        display: block;


    }


    #careerTitle {
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align: center;
    }
    #skillsTitle{
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    }

    .skills-grid{


      display: flex;
        flex-direction: column;
        position: relative;
        align: center;
        margin: auto;
        padding: 10px;
        background-color:transparent;
        margin-top: 20px;
        width: 100%;

}
.webCards {display: none;}
.mobileCards {
    display: block;
    align: center;
    margin: auto;
    width: 80%;
}
    .tools { display:none;}

}
